@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    background-color: #f6f6f6;
}
.App {
    display: grid;
    grid-template-columns: 4fr 7fr 2fr;
    font-size: 16px;
    background-color: #f4f2ed;
}

.col {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5px 10px;
    padding: 10px 40px;
    width: 100%;
    /* max-height: 100vh;
    overflow-y: scroll; */
}

.col-1>div {
    padding: 15px 5px;
}

.find-btn {
    margin-top: 4vh;
}
.btn{
    background-color: #ffe849 !important;
    border-radius: 0 !important;
    color: white !important;
    font-weight: 700 !important;
}
.book-btn{
    margin-left: auto;
}
.slot>div {
    padding: 10px 5px;
}

.col-1 {
    border-right: 2px solid gray;
}

.slot {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border: 1px solid rgb(104, 104, 104);
    /* border-radius: 4px; */
    padding: 20px 20px;
    margin: 10px 0px;
    width: 100%;
}

.time span {
    padding: 0 3px;
}

.name {
    font-size: 22px;
}
.date-picker{
    box-shadow: 3px 3px 30px rgb(168, 168, 168);
    background-color: #f6f6f6;
    /* border: 1px solid rgb(104, 104, 104); */
}

@media screen and (max-width:850px) {
    .App {
        display: block;
    }
    .col{
        padding: 10px 12px;
        margin: 2px 0;
        border: none;
    }
    .slot{
        padding: 10px;
        margin: 4px 0;
    }
}